@charset "UTF-8";
@font-face{
    font-family: 'Mont';
    src: url("fonts\fonts\Fontfabric - Mont Regular.otf");
}
@font-face{
    font-family: 'Campton';
    src: url("fonts\fonts\Rene Bieder - Campton Medium.otf");
}

body{
    background-color: #ffffff;
    width: 1368px;
    height: 4164px;
}
div#main{
    position: absolute;
    box-shadow: 0px 0px 10px black;
    margin: 0px auto auto;
    width: 1366px;
}

/* img#hero*/
img#hero{
    object-fit: contain;  
    width: 1366px;
    height: 728px;
    position: relative;
}
/* img#hero*/

/* formatação #bbox*/
div#bbox{
    width: 1140px;
    height: 244px;
    border-radius: 2px;
    background-color: #4263eb;
    box-shadow: 0px 0px 10px black;
    margin: -100px auto auto;
    position: relative;
}
h2#bbox{
  width: 369px;
  height: 144px;
  font-family: Mont;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
  position: relative;
  left: 10%;
  top: 20%;
}
p#bbox{
  width: 548px;
  height: 104px;
  font-family: Campton;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  left: 50%;
  bottom: 50%;
  position: relative;
}
/* formatação #bbox*/

/* frotamatação #blt*/
div#blt{
    margin: 100px 100px;
    height: 380px;
    width: 561px;
}
h1.blt{
    font-family: Mont;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.31;
    color: #4263eb;
    padding: 0px 10px;
}
h1#blt1{
    width: 561px;
    height: 84px;
}
p#blt{
    width: 561px;
    height: 284px;
    font-family: Campton;
    font-size: 18px;
    line-height: 1.56;
    color: rgb(88, 83, 83);
}
span#a1{
    font-weight: bold;
    color: #4263eb;
}
/*fromatação #blt*/

/*formatação img#cam*/
img#cam{
  width: 463px;
  height: 532px;
  object-fit: contain;
  position: relative;
  margin: -550px 800px 30px;
  box-shadow: 0px 0px 10px black;
}
/*formatação img#cam*/

/*formatação div area*/
div#area{
width: 562px;
height: 760px;
margin: -30px 100px;
}
div#world{
width: 258px;
height: 320px;
top: -60px;
position: relative;
}
div#chat{
    width: 258px;
    height: 361px;
}
img#wc{
    width: 49px;
    height: 48px;
    object-fit: contain;
}
h2#world{
    width: 258px;
    height: 72px;
    font-family: Mont;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(88, 83, 83);
}
h2#chat{
    width: 258px;
    height: 108px;
    font-family: Mont;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(88, 83, 83);
}
p#wc{
    width: 258px;
    height: 190px;
    font-family: Campton;
    font-size: 16px;
    line-height: 1.5;
    color: #868e96;
}
ul#area{
    list-style: none;
}
li#area{
    display: inline-block;
}
/*formatação div area*/

/*formatação div bdt*/
div#bdt{
    margin: 100px 100px;
    width: 462px;
    height: 420px;
}
h1#blt2{
    width: 462px;
    height: 168px;
}
p#bdt{
    width: 422px;
    height: 109px;
    font-family: Campton;
    font-size: 18px;
    line-height: 1.56;
    color: rgb(88, 83, 83);
}
div#wbox{
    width: 397px;
    height: 51.1px;
    border-radius: 1px;
    border: solid 1px #4263eb;
    box-shadow: 0px 0px 10px #4263eb;
}
p#wbox{
    width: 300px;
    height: 15px;
    font-family: Mont;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 0px 50px;
    color: #4263eb;
}
/*formatação div bdt*/

/*formatação img#diagonalley*/

img#diagonalley{
    width: 657px;
    height: 437px;
    object-fit: contain;
    position: relative;
    margin: -800px 650px 100px;
    box-shadow: 0px 0px 10px black;
}
/*formatação img#diagonalley*/

/*formatação div blueb*/
div#blueb{
    width: 1368px;
    height: 73px;
    border-radius: 1px;
    background-color: #4263eb;
}
p#blueb{
    width: 736px;
    height: 25px;
    font-family: Campton;
    font-size: 18px;
    color: #ffffff;
    padding: 20px 300px;
    position: relative;
}
span#a2{
    font-size: 20px;
    font-weight: bold;
}
/*formatação div blueb*/

/*formtação area de comentarios*/
div#tc{
    margin: 50px 100px;
}
h2#tc{
    width: 269px;
    height: 36px;
    font-family: Mont;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    color: #4d4f4c;
}
p#tc{
    width: 491px;
    height: 19px;
    font-family: Campton;
    font-size: 18px;
    color: #4d4f4c
}

ul#area2{
    list-style: none;
    margin: 50px 100px;
    width: 1200px;
    height: 400px;
}

div#coma{
    width: 561px;
    height: 374px;
    background-color: #ffffff;
    border-bottom: inset gray;
    background-color: #fafafa;
    right: 35px;
    position: relative;
    border-radius: 10%;
    top: -10px;
}

p#coma{
    width: 471px;
    height: 128px;
    font-family: Campton;
    font-size: 16px;
    line-height: 1.5;
    color: #4d4f4c ;
    padding: 15px 50px;
}
h3#coma{ 
    width: 369px;
    height: 72px;
    font-family: Mont;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.64;
    color: rgb(41, 37, 37);
    padding: 0px 50px;
}
img#dio{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 40px;
}
p#dio{
    width: 144px;
    height: 19px;
    font-family: Campton;
    font-size: 18px;
    font-weight: 500;
    color: gray;
    position: relative;
    top: -70px;
    left: 120px;
}
p#dio2{
    width: 80px;
    height: 17px;
    font-family: Campton;
    font-size: 16px;
    color: #adb5bd;
    position: relative;
    top: -90px;
    left: 120px;
}
li#bolinha{
    width: 10px;
    height: 10px;
    background-color: #d82633;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    position: relative;
    left: 45%;
}
/*formtação area de comentarios*/

div#picku{
    top: 70px;
    left: 30px;
    margin: 50px 100px;
}
h2#picku{
    color: #4263eb;
    width: 475px;
    height: 29px;
    font-family: Mont;
    font-size: 32px;
}
p#picku{
  width: 1138px;
  height: 30px;
  font-size: 18px;
  color: #4d4f4c;
}

/*formatação menu de imagens*/

div#list{
    width: 30px;
    height: 30px;
    border-radius: 1px;
    border: solid 1px #dee2e6;
}
p#list{
    position: relative;
    text-align: center;
    bottom: 30%;
}
ul#imgmenu{
    list-style: none;
    position: relative;
    left: 90%;
    bottom: 100px;
}
ul#imgmenu2{
    list-style: none;
    position: relative;
    bottom: 100px;
    left: 50px;
}
figure.imgmenu{
    position: relative;
    border: solid 1px white;
    box-shadow: 0px 0px 10px black;
    width: 273px;
    height: 200px;
    margin: 1px;
}
figure.imgmenu img{
    width: 273px;
    height: 150px;
}
figure.imgmenu figcaption{
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color: #ffffff;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1s;
    font-family: Mont;
}
figure.imgmenu:hover figcaption{
    opacity: 1;
}
figure.imgmenu p#p1{
position: relative;
margin: 10px 5px;
font-family: Mont;
}
figure.imgmenu:hover p#p1{
    opacity: 0;
}
figure.imgmenu p#p2{
    position: relative;
    bottom: 40px;
    color: #ffffff;
    opacity: 0;
    left: 140px;
    font-family: Mont;
}
figure.imgmenu:hover p#p2{
    opacity: 1;
}
/*formatação rodapé*/
footer#rodape{
    width: 1366px;
    height: 158px;
    background-color: #f8f9fa;
}
div#blackb{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #000000;
    border-radius: 50%;
    top: 60px;
}
p#copy{
    position: relative;
    width: 140px;
    height: 48px;
    font-family: Campton;
    font-size: 16px;
    line-height: 1.5;
    color: #4d4f4c;
    left: 50px;
    top: 20px;
}
div.icon-bar a {
    color: #000000;
    position: relative;
    left: 90%;
    bottom: 50px;
}